*{  
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

body{ 
    background: #f6f9fc;}

.block-tablemenu{
    margin-left: 30%;
    margin-top: 10%;
    width: 450px;
    padding: 10px 25px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);}

.block-tablemenu h2{
   font-family: Verdana, Geneva, Tahoma, sans-serif;}

.block-tablemenu__table{
    margin-top: 20px;
    width:100%;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
    border-collapse: collapse;
   }
.block-tablemenu__table tr td{
    padding: 20px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    }
.block-tablemenu__table ul{
    margin-top: 15px;
    display:none;}

.block-tablemenu__table ul li{
    color: #6FBF7F;
    list-style-type: none; 
    margin-left: 20px; 
    padding: 5px;
    padding-left: 0; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;}

.block-tablemenu__table td i{
    float: right;
    color: #6FBF7F;}
 
.block-tablemenu__table .rotate90{
    transform: rotate(90deg);
    }
 